@model ContactBook.ViewModels.ContactListViewModel
@{
    ViewData["Title"] = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="entry">
    <h4>Your Contacts</h4>
    <ul>
        @using (Html.BeginForm("Create", "Contacts"))
        {
            <div class="form-group">
            </div>
        }

        @foreach (var contact in Model.Contacts)
        {
            <li class="item"><span><i class="fa fa-trash"></i></span> @contact.First_name @contact.Middle_initial @contact.Last_name @contact.Home_phone @contact.Cell_phone @contact.Cell_phone @contact.IRD @contact.active</li>
        }
    </ul>
</div>
